@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
:root {
  --primary-color: #051024;
  --text-color--primary: #000;
  --text-color--alt: #eee;
  --text-color--tri: #000;
  --bg-color--primary: #fff;
  --bg-color--alt: #fff;
  --border-color--primary: #aaa;
  --border-color--alt: #f8f8ff;
  --button-bg--primary: #051024;
  --button-bg--alt: #f1f1f7;
  --search-area-bg: #f1f1f7;
  --font-family--primary: 'Catamaran';
  --font-family--alt: 'Montserrat';
  /* padding-LR--global = horizontal spacing around site main components */
  --padding-LR--global: 15%;
}
html[data-theme='dark'] {
  --primary-color: #051024;
  --text-color--primary: #eee;
  --text-color--alt: #eee;
  --text-color--tri: var(--text-color--primary);
  --bg-color--primary: rgb(13, 19, 26);
  /* --bg-color--alt: rgb(15, 22, 31); */
  --bg-color--alt: rgb(13, 19, 26);
  --border-color--primary: #555;
  --border-color--alt: #transparent;
  --button-bg--primary: linear-gradient(56deg, rgba(252, 85, 62,1) 40%, rgba(249, 149, 33,0.99));
  --button-bg--alt: transparent;
  --search-area-bg: rgb(22, 32, 44);
  --font-family--primary: 'Catamaran';
  --font-family--alt: 'Montserrat';
  --padding-LR--global: 15%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

li {
  list-style-type: none;
}

body,
html {
  width: 100%;
  color: var(--text-color--primary);
  font-family: 'Montserrat', 'Catamaran', Avenir, Helvetica, Arial, sans-serif;
}

img {
  width: 100%;
}
button {
  cursor: pointer;
  background: none;
  border: solid thin var(--border-color);
  color: #fff;
  background: var(--button-background-color);
  font-size: 1.2rem;
  padding: 0.8em;
  transition: all 0.2s ease-in-out;
}
button:hover {
  transform: scale(1.05);
}
