@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
:root {
  --primary-color: #051024;
  --color-tetradic: #06b7e0;
  --text-color--primary: #000;
  --text-color--alt: #eee;
  --text-color--tri: #777;
  --bg-color--primary: #fff;
  --bg-color--alt: #f8f8ff;
  --border-color--primary: #777;
  --border-color--alt: #051024;
  --button-bg--primary: #051024;
  --button-bg--alt: transparent;
  --font-family--primary: 'Catamaran';
  --font-family--alt: 'Montserrat';
  --padding-LR--global: 15%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

li {
  list-style-type: none;
}

body,
html {
  width: 100%;
  color: var(--text-color--primary);
  font-family: 'Montserrat', 'Catamaran', Avenir, Helvetica, Arial, sans-serif;
}

img {
  width: 100%;
}
button {
  cursor: pointer;
  background: none;
  border: solid thin var(--border-color);
  color: #fff;
  background: var(--button-background-color);
  font-size: 1.2rem;
  padding: 0.8em;
  transition: all 0.2s ease-in-out;
}
button:hover {
  transform: scale(1.05);
}
